<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="it.unisa.dia.gas.jpbc.android.benchmark">

    <application android:icon="@drawable/icon" android:label="jpbc-benchmark">
        <activity android:name=".JPBCBenchmarkActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
