a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
    background: none;
    padding-right: 0;
}

body ul {
    list-style-type: square;
}

#downloadbox {
    float: right;
    margin-left: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border: 1px solid #999;
    background-color: #eee;
    width: 17.5em;
}

#downloadbox h5 {
    color: #000;
    margin: 0;
    border-bottom: 1px solid #aaaaaa;
    font-size: smaller;
    padding: 0;
    margin-top: 1em;
}

#downloadbox p {
    margin-top: 1em;
    margin-bottom: 0;
}

#downloadbox a {
    white-space: nowrap;
}

#downloadbox ul {
    margin-top: 0;
    margin-bottom: 1em;
    list-style-type: disc;
}

#downloadbox li {
    font-size: smaller;
}

.license {
    float: none;
    text-shadow: #7CFC00;
    text-align: center;
}

#license_image {
    border: none;
    float: left;
    margin-left: 20px;
    padding-right: 8px;
}


.em {
    color: #800000;
    font-weight:bold;
}


/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */

